<div>
    <input type=text [(ngModel)]="product.name">
    <p *ngIf="errors.productName" style="color: red;">{{ errors.productName }}</p>
    <br>
    <input type="text" [(ngModel)]="product.code">
    <p *ngIf="errors.productCode" style="color: red;">{{ errors.productCode }}</p>
    <br>
    <input type="text" [(ngModel)]="product.description">
    <p *ngIf="errors.productDescription" style="color: red;">{{ errors.productDescription }}</p>
    <br>
    <input type="text" [(ngModel)]="product.quantity">
    <p *ngIf="errors.productQuantity" style="color: red;">{{ errors.productQuantity }}</p>
    <br>

    <button (click)="handleClick()">click</button>
</div>